body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 60px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    position: relative;
    height: 280px;
}

.clock_time{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: rgb(117, 117, 117);
    left: -2px;
    position: absolute;
}

.clock_time .clock_circle {
    position: relative;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock_time .clock_circle svg {
    position: relative;
    width: 62px;
    height: 62px;
    transform: rotate(270deg);
}

.clock_time .clock_circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: rgb(129, 129, 129);
    stroke-width: 1;
    transform: translate(5px,5px);
}

.clock_time .clock_circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 165;
}

.clock_time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: #464646;
}

.clock_time div span {
    position: absolute;
    font-size: 10px;
    transform: translateX(-50%) translateY(-1px);
}

.clock_time .ap {
    position: relative;
    font-size: 1em;
    transform: translateX(-50p);
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.dots::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--clr);
    border-radius: 50%;
    top: 1px;
    box-shadow: 0 0 9px var(--clr), 0 0 7px var(--clr)
}
