body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2f363e;
}

.clock_time{
    display: flex;
    gap: 40px;
    color: #fff;
}

.clock_time .clock_circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock_time .clock_circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.clock_time .clock_circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px,5px);
}

.clock_time .clock_circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}

.clock_time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

.clock_time div span {
    position: absolute;
    font-size: 12px;
    transform: translateX(-50%) translateY(-6px);
}

.clock_time .ap {
    position: relative;
    font-size: 1em;
    transform: translateX(-50p);
}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.dots::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--clr);
    border-radius: 50%;
    top: -3px;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr)
}
